# Based on Apple XNU Kernel

BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: true
IndentWrappedFunctionNames: false

BreakBeforeBraces: Allman
AlwaysBreakAfterReturnType: TopLevel
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeCpp11BracedList: false
AccessModifierOffset: -4

ColumnLimit: 100
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakConstructorInitializers: BeforeColon
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakInheritanceList: BeforeColon

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true

IncludeBlocks: Preserve
SortIncludes: true
IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^".*"'
    Priority: 2

Cpp11BracedListStyle: true
AlwaysBreakTemplateDeclarations: Yes
ReflowComments: true

ObjCSpaceBeforeProtocolList: true
MacroBlockBegin: '^#if'
MacroBlockEnd: '^#endif'